.pp-version-notice-bold-purple {
    background: #655897;
    height: 60px;
    box-sizing: border-box;
    padding: 12px 7px 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 1px;
    margin-left: -20px;
}

.pp-version-notice-bold-purple a {
    color: #000 !important;
    background: #FCB223;
    font-weight: normal;
    text-decoration: none;
    padding: 9px 12px;
    margin-left: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #fca871;
    break-inside: avoid;
    white-space: nowrap;
}

.pp-version-notice-bold-purple a:hover {
    color: #000 !important;
    background: #fcca46;
}

@media only screen and (max-width: 1008px) {
    .pp-version-notice-bold-purple {
        height: 110px;
    }
}

@media only screen and (max-width: 780px) {
    .pp-version-notice-bold-purple {
        height: 110px;
    }

    .pp-version-notice-bold-purple a {
        display: block;
    }
}

@media only screen and (max-width: 684px) {
    .pp-version-notice-bold-purple {
        height: 140px;
    }
}

@media only screen and (max-width: 600px) {
    .pp-version-notice-bold-purple {
        padding-top: 53px;
        height: 185px;
    }
}